@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@font-face {
    font-family: "Raleway";
    src: url(../assets/Raleway-Bold.otf);
    src: url(../assets/Raleway-Bold.ttf);
    src: url(../assets/Raleway-Bold.woff);
    src: url(../assets/Raleway-Italic.otf);
    src: url(../assets/Raleway-Italic.ttf);
    src: url(../assets/Raleway-Italic.woff);
    src: url(../assets/Raleway-Regular.otf);
    src: url(../assets/Raleway-Regular.ttf);
    src: url(../assets/Raleway-Regular.woff);
}
h1{
    font-family: Lato;
}
h2{
    font-family: Lato
}
h3{
    font-family: Lato
}
h4{
    font-family: Lato
}
section{
   font-family: Raleway, sans-serif;
}
footer{
    font-family: Raleway, sans-serif;
}